/godot_agent/python/__pycache__
godot_agent/agent_panel.tscn
/godot_agent/python/server/__pycache__
*.pyc
*.pyc
/godot_agent/python/godot_tools/__pycache__
/.freebuff
временно/file.txt
/временно
/godot_agent/временно
